[submodule "third-party/submodule"]
	path = third-party/submodule
	url = git@git.ya***r.ir:ts/submodule-template.git
[submodule "freediameter"]
	path = freediameter
	url = https://ganj.ya***r.ir/khosravi_ma/freediameter.git
